.workflow_editor-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.workflow_editor-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.workflow_editor-export {
    width: 4rem;
}

.je-switcher {
    min-width: 150px;
}

.litegraph.litecontextmenu {
    z-index: 1010;
}

.editor_save {
    color: white;
}